<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      >
    <h:head>
    	<h:outputStylesheet library="css" name="table-style.css"  />
    </h:head>
    
    <f:facet name="first"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
</f:facet>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
    
    <h:body>
    	
    	<h1>JSF 2 ui:repeat tag example</h1>

    	<p:dataTable var="car" value="#{dtBasicView.cars}">
    <h:column headerText="Id">
        <h:outputText value="#{car.id}" />
    </h:column>
 
    <h:column headerText="Year">
        <h:outputText value="#{car.year}" />
    </h:column>
 
    <h:column headerText="Brand">
        <h:outputText value="#{car.brand}" />
    </h:column>
 
    <h:column headerText="Color">
        <h:outputText value="#{car.color}" />
    </h:column>
</h:dataTable>
    </h:body>
</html>